nav.navbar.navbar-default
    .container-fluid
        .navbar-header
            a.navbar-brand(routerLink="/") {{ "brand" | translate }}
        .collapse.navbar-collapse
            ul.nav.navbar-nav
            ul.nav.navbar-nav.navbar-right

router-outlet
.flex-1
.container-fluid.container-footer
    .row
        .col-xs-12.text-center
            p.p-footer.
                